Options -Indexes 
ErrorDocument 404 /404
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  
  RewriteCond %{HTTP_HOST} !^www\. 
  RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  RewriteCond %{REQUEST_FILENAME} !-f  
  RewriteRule ^(.*)$ index.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
  
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
</IfModule>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
AddOutputFilterByType DEFLATE text/xml application/xml text/x-component


<FilesMatch "\.(ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>